.logo-image{
    width: 20px; 
    height: 20px;  
     
}

.slide-image{   
    padding-top: 70px;      
    width: 350px;
    height: 250px;     
  }
  
  #ServiceImage{
    position: absolute;  
    top: 90px;  
    width: 150px; 
    height: 90px; 
    transform: translateX(-50%);  
  }

