/*Main Selectors*/

/*--- Nav Bar --- */
.nav-bar{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: medium;
  width: 100%;
  background-color: #B78620;
  vertical-align: middle;
  color: black;
  top: 0; /* Position the navbar at the top of the page */
  position: fixed; /* Set the navbar to fixed position */
  height: 50px;
  z-index: 10;
  
  /* FLEX BOX */
  display: flex;
  align-items: center;
  height: 40px;
}



/* NavBar: Add Hover feature */
.nav-bar a {
  
  float: left;
  padding: 2%;
  font-size: 20 px;
  text-decoration: none;
  vertical-align: middle;
  background: orange;
  font-style: normal;
  color: black;
  width: auto;
}
/* Zeeshan: Add Hover feature */
.nav-bar a:hover {
  font-style: normal;
  background: black;
  color: white;
  font-weight: bolder;
  width: auto;

}

.nav-bar .logo:hover .logo-image{
  filter: invert(); 
}


/*Navigation Link Styles*/
.menu-link{
  color: #7fbe44; 
  text-decoration: none;  
}
  
/*Logo Container Styles*/
  .logo-link-image{
     
    width: 10%;
    height: 20%; 
    
    background-color: black; 
    border:darkgreen 3px solid;
    float: left;
    z-index: 100;
    position: fixed;
        top: 0%;
        left: 1%;
        
  }
  


  
  /*Styles for Menu Links*/
  /* .menu-link:link{
    color: #2f3c23;
    text-decoration: none;  
  }
  
  .menu-link:visited{
    color: #2f3c23;
    text-decoration: none;  
  }
  
  .menu-link:hover{
    color: #2f3c23;
    text-decoration: none;  
  }
  
  .menu-link:active{
    color: #2f3c23;
    text-decoration: none;  
  }
  
  /*Navbar Toggler Styles*/
  /* .nav-bar-toggler {
    border-color: #2f3c23;
    position: relative;  
    box-shadow:  0 0 0 5px #2f3c23;
  }
  
 
  
  .nav-bar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2847, 60, 35, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  } 
   */
  
  
  
  
  
  
  
  
  

  
  
  